<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="Shopping and to do lists">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>All the lists</h1>
      </header>
      <main>
        <section>
          <h2>Shopping list</h2>
          <form id="js-shopping-list-form">
            <label for="shopping-list-entry">Title</label>
            <input type="text" name="shopping-list-entry" id="js-new-item">
            <br>
            <label for="author-entry">Author</label>
            <input type="text" name="author-entry" id="js-new-author">
            <br>
            <label for="content-entry">Content</label>
            <input type="text" name="content-entry" id="js-new-content">
            <br>

            <button type="submit">Add new post</button>
          </form>

          <ul class="shopping-list js-shopping-list">
          </ul>
        </section>
        <hr>
        <section>
          <h2>Recipes</h2>
          <form id="js-recipe-form">
            <div>
              <label for="recipe-name">Recipe name</label>
              <input type="text" name="recipe-name" id="recipe-name" placeholder="e.g., smoothie">
            </div>
            <div>
              <label for="ingredients-list">Ingredients</label>
              <input type="text" name="ingredients-list" id="ingredients-list", placeholder="yogurt, orange juice, strawberries, banana, peanut butter">
            </div>
            <button type="submit">Add recipe</button>
          </form>

          <ul class="recipes js-recipes">
          </ul>
        </section>

        <section>
          <h2>Blog</h2>
          <form>
            <label for="blog-title">Title</label>
            <input type="text" name="blog-title" id="blog-title" placeHolder="title"></input>
            <br>
            <label for="blog-author">Author</label>
            <input type="text" name="blog-author" id="blog-author" placeholder="author"></input>
            <br>
            <label for="blog-content">Content</label>
            <input type="text" name="blog-content" id="blog-content" placeholder="My awesome vacation started out..."></input>
            <br>
            <button type="submit">Add blog</button>
          </form>
          <ul class="blogs js-blogs">
          </ul>
        </section>

      </main>
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
